<input type="text"' +
' id="' +   input_id + '"' +
' value="' + ip_val + '"' +
' autocomplete="on"' +
' onchange="update_attribute_value(\'' + input_id + '\', this.value)"' +
' onblur="attr_input_blur(' + rowi + ')"' +
' onfocus="attr_input_focus(' + rowi + ');" />'



'<select name="class">'+
    ' id="' + input_id + '"' + '  <option value="volvo">Volvo</option> <option value="saab">Saab</option><option value="fiat">Fiat</option><option value="audi">Audi</option>'+
    ' onchange="update_attribute_value(\'' + input_id + '\', this.value)"' +
    ' onblur="attr_input_blur(' + rowi + ')"' +
    ' onfocus="attr_input_focus(' + rowi + ')" />' ;